<div class="card">
  <h5 class="card-header">Evaluating <%= @target.name %> for <%= @project.name %></h5>
  <div class="card-body">
    <%= form_with model: @feedback_item, url: feedback_items_path, method: :post do |f| %>
      <div class="form-group">
        <%= f.label :participation, "#{@target.name} participated equally in #{@project.name}" %>
        <div class="d-block btn-group btn-group-toggle" data-toggle="buttons">
          <%= single_radio_helper f, :participation, 1, "Disagree" %>
          <%= single_radio_helper f, :participation, 2, "Somewhat Disagree" %>
          <%= single_radio_helper f, :participation, 3, "Neutral" %>
          <%= single_radio_helper f, :participation, 4, "Somewhat Agree" %>
          <%= single_radio_helper f, :participation, 5, "Agrree" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :quality, "#{@target.name} produced high-quality work for #{@project.name}" %>
        <div class="d-block btn-group btn-group-toggle" data-toggle="buttons">
          <%= single_radio_helper f, :quality, 1, "Disagree" %>
          <%= single_radio_helper f, :quality, 2, "Somewhat Disagree" %>
          <%= single_radio_helper f, :quality, 3, "Neutral" %>
          <%= single_radio_helper f, :quality, 4, "Somewhat Agree" %>
          <%= single_radio_helper f, :quality, 5, "Agrree" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :disagreements, "You had significant conflict with #{@target.name} while working on #{@project.name}" %>
        <div class="d-block btn-group btn-group-toggle" data-toggle="buttons">
          <%# Note! Agreeing here is a worse score than disagreeing %>
          <%= single_radio_helper f, :disagreements, 5, "Disagree" %>
          <%= single_radio_helper f, :disagreements, 4, "Somewhat Disagree" %>
          <%= single_radio_helper f, :disagreements, 3, "Neutral" %>
          <%= single_radio_helper f, :disagreements, 2, "Somewhat Agree" %>
          <%= single_radio_helper f, :disagreements, 1, "Agrree" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :comments %><br>
        <%= f.text_area :comments, class: "form-control" %>
      </div>

      <div>
        <%= link_to "Back", back_btn_url, class: "btn btn-secondary" %>
        <%= f.submit "Continue", class: "btn btn-primary float-right" %>
      </div>

      <%# Additional data we're passing along %>
      <%= f.hidden_field :target_id, value: @target.id %>
      <%= f.hidden_field :project_id, value: @project.id %>
      <%= hidden_field nil, :continue_url, value: next_btn_url %>
    <% end %>
  </div>
</div>
