<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> Notice:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%if !student.signed && student_logged_in? %>
    <input type=hidden name=student[signed] value=true>
  <%end%>

  <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <% if inst_logged_in? %>
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    <%else%>
      <%= form.label :email %>
      <%= form.text_field :email, disabled: true, class: "form-control" %>
    <%end%>
  </div>

  <div class="form-group">
    <%if inst_logged_in? && !student.signed%>
      <input type=hidden name=student[password] value=DefaultPass3901+>
    <%elsif !inst_logged_in?%>
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control" %>
    <%end%>
  </div>

  <div>
    <%if inst_logged_in? and not @student.signed %>
      <%= form.submit "Set Up", class: "btn btn-primary" %>
    <%elsif @mode == "signup"%>
      <%= form.submit "Activate Account", class: "btn btn-primary" %>
    <%else%>
      <%= form.submit "Save changes", class: "btn btn-primary" %>
    <%end%>
  </div>
<% end %>
