<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> Notice:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%if !student.signed && ins_mode == "student"%>
    <input type=hidden name=student[signed] value=true>
  <%end%>

  <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
  </div>

  <div class="field">
    <% if ins_mode == "instructor"%>
      <%= form.label :email %>
      <%= form.text_field :email %>
    <%else%>
      <%= form.label :email %>
      <%= form.text_field :email, disabled: true %>
    <%end%>
  </div>

  <div class="field">
    <%if ins_mode == "instructor"%>
      <input type=hidden name=student[password] value=DefaultPass3901+>
    <%else%>
      <%= form.label :password %>
      <%= form.password_field :password %>
    <%end%>
  </div>

  <div class="actions">
    <%if ins_mode == "instructor"%>
      <%= form.submit "Set up"%>
    <%elsif @mode == "signup"%>
      <%= form.submit "Sign up account"%>
    <%else%>
      <%= form.submit "Save changes"%>
    <%end%>
  </div>
<% end %>
