<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%if !student.signed%>
    <input type=hidden name=student[signed] value=true>
  <%end%>

  <div class="field">
    <%= form.label :name %>
    <% if ins_mode%>
      <%= form.text_field :name %>
    <%else%>
      <%= form.text_field :name, disabled: true %>
    <%end%>
  </div>

  <div class="field">
    <% if ins_mode%>
      <%= form.text_field :email %>
      <span>signed</span>
    <%else%>
      <%= form.text_field :email, disabled: true %>
    <%end%>
  </div>

  <div class="field">
    <%if ins_mode%>
      <input type=hidden name=student[password] value=DefaultPass3901+>
    <%else%>
      <%= form.label :password %>
      <%= form.text_field :password %>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
