<% @title = "Personal Information" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%if student_logged_in?%>
  <p>Open project feedbacks:</p>
  

  <ol>
  <%@student.groups.each do |g|%>
    <%g.projects.each do |p|%>
      <%find = false%>
      <%p.feedback_items.each do |f|%>
        <%if f.author == @student.name%>
          <%find = true%>
        <%end%>
      <%end%>
      <%if !find%>
        <li><%= p.name%><%= link_to "complete this feedback", p%></li>
      <%end%>
    <%end%>
  <%end%>
  </ol>


<%else%>
  <p>Recent feedbacks:</p>

  <%@student.feedback_items.each do |f|%>
    <li><%= link_to f.name, f %></li>
  <%end%>

<%end%>

<%= link_to 'Edit', edit_student_path(id: @student) %> |

<% if student_logged_in?%>
<%= link_to 'Logout', students_logout_path, method: :post, data: { confirm: 'Do you want to logout?' } %>
<%else%>
<%= link_to 'Back', students_path %>
<%end%>

