<% @title = "Personal Information" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<hr>

<%if student_logged_in? @student %>
  <strong>Open Evaluations:</strong>
  <table>
    <tr>
      <th>Project</th>
      <th>Completed</th>
      <th>Link</th>
    </tr>
     
    <% @student.groups.each do |g| %>
      <% Project.all.each do |p| %>
        <% next unless p.is_open %>
        <% completed = !g.feedback_for(p).where(author: @student).empty? %>
        <tr>
          <td><%= p.name %></td>
          <td><%= completed ? "Yes" : "No" %></td>
          <td><%= link_to (completed ? "Edit" : "Complete"), begin_eval_path(group: g, project: p) %></td>
        </tr>
      <%end%>
    <%end%>
  </table>

<%else%>

  <strong>Recent Evaluations:</strong>
  <ul>
    <% if @student.feedback_items.empty? %>
      <li>Nobody has evaluated <%= @student.name %></li>
    <% end %>
    <% @student.feedback_items.each do |f| %>
      <li><%= link_to "#{f.project.name} (by #{f.author.name})", f %></li>
    <% end %>
  </ul>

<%end%>

<hr>

<%= link_to 'Edit', edit_student_path(id: @student) %> |

<% if student_logged_in? @student %>
  <%= link_to 'Logout', students_logout_path, method: :post, data: { confirm: 'Do you want to logout?' } %>
<%else%>
  <%= link_to 'Back', :back %>
<%end%>

