<p id="notice"><%= notice %></p>

<h1>Instructors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.name %></td>
        <td><%= instructor.email %></td>
        <td><%= link_to 'Show', instructor %></td>
        <%if inst_logged_in? instructor%>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <%end%>
        <td><%= link_to 'Delete', instructor, method: :delete, data: { confirm: 'Do you really want to delete this instructor?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_instructor_path %> |
<%= link_to 'Back', root_path %>
