<div class="card">
  <h5 class="card-header"><%= @instructor.name %></h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Email:</strong>
      <%= @instructor.email %>
    </li>
  </ul>
  <div class="card-body">
    <% if inst_logged_in? @instructor %>
      <%= link_to 'Edit', edit_instructor_path(@instructor), class: "btn btn-primary" %>
      <%= link_to 'Logout', instructors_logout_path, method: :post, data: { confirm: 'Do you want to logout?' }, class: "btn btn-danger" %>
    <% else %>
      <%= link_to 'Delete', @instructor, method: :delete, data: {confirm: 'Do you really want to delete this instructor?' }, class: "btn btn-danger"%>
    <% end %>
  </div>
</div>

<% if inst_logged_in? @instructor %>

  <h4 class="mt-5">Actions:</h4>
  <div class="list-group">
    <%= link_to "Manage Students", students_path, class: "list-group-item list-group-item-action" %>
    <%= link_to "Manage Groups", groups_path, class: "list-group-item list-group-item-action" %>
    <%= link_to "Manage Projects", projects_path, class: "list-group-item list-group-item-action" %>
    <%= link_to "Manage Instructor Accounts", instructors_path, class: "list-group-item list-group-item-action" %>
  </div>
<% end %>
