<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :students %>
    <%= form.collection_check_boxes :student_ids, Student.all, :id, :name do |b|%>
      <% ("<div class=\"form-check\">" + b.check_box(class: "form-check-input") + b.label(class: "form-check-label") {b.text} + "</div>").html_safe %>
    <%end%>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
