<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :students %>
    <%# TODO: Clean this up %>
    <%= form.collection_check_boxes :student_ids, Student.all, :id, :name do |b|%>
      <% ("<div>" + b.label {b.check_box + " " + b.text} + "</div>").html_safe %>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
