<p id="notice"><%= notice %></p>

<p>
  <strong>Written By:</strong>
  <%= link_to @feedback_item.author.name, student_path(@feedback_item.author) %>
</p>

<p>
  <strong>Written About:</strong>
  <%= link_to @feedback_item.target.name, student_path(@feedback_item.target) %>
</p>

<p>
  <strong>For Project:</strong>
  <%= link_to @feedback_item.project.name, project_path(@feedback_item.project) %>
</p>

<p>
  <strong>Participation Score:</strong>
  <%= @feedback_item.participation %> / 5
</p>

<p>
  <strong>Quality Score:</strong>
  <%= @feedback_item.quality %> / 5
</p>

<p>
  <strong>Disagreements Score:</strong>
  <%= @feedback_item.disagreements %> / 5
</p>

<p>
  <strong>Comments:</strong>
  <%= @feedback_item.comments %>
</p>
