<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Is open:</strong>
  <%= @project.is_open %>
</p>

<p>
<% Group.all.each do |g| %>
  <%= g.name %>
  <table>
    <tr>
      <th>Student Name</th>
      <th>Average Score</th>
      <th>Details by Author</th>
    </tr>
    <% g.students.each do |s|%>
      <tr>
        <td><%= s.name%></td>
        <% fbItems = s.feedback_for(@project,g)%>
        <% if fbItems.empty? %>
          <td>N/A</td>
          <td>N/A</td>
        <% else%>
          <td><%= average_score(fbItems)%>/15</td>
          <td>
            <%= fbItems.map do |f| %>
              <% link_to f.author.name, feedback_item_path(f)%> 
            <%end.join(", ").html_safe%>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
<%end%>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
