<div class="card">
  <h5 class="card-header"><%= @project.name %></h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Status:</strong>
      <%= @project.is_open ? "Open" : "Closed" %>
    </li>
  </ul>
  <div class="card-body">
    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>
    <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>

<% if Group.any? %>
  <h4 class="mt-5">Per-Group Breakdown:</h4>
<% end %>
<% Group.all.each do |g| %>
<div class="card my-3">
  <h5 class="card-header"><%= g.name %></h5>
  <table class="table table-striped table-bordered card-body mb-0">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Average Score</th>
        <th>Details by Author</th>
      </tr>
    </thead>

    <tbody>
      <% if g.students.empty? %>
        <tr>
          <td colspan=3>This group has no students</td>
        </tr>
      <% end %>
      <% g.students.each do |s|%>
        <tr>
          <td><%= s.name%></td>
          <% fbItems = s.feedback_for(@project,g)%>
          <% if fbItems.empty? %>
            <td>N/A</td>
            <td>N/A</td>
          <% else%>
            <td><%= average_score(fbItems)%>/15</td>
            <td>
              <%= fbItems.map do |f| %>
                <% link_to f.author&.name || "Deleted Student", feedback_item_path(f) %> 
              <% end.join(", ").html_safe %>
            </td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<%end%>
